


<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Title -->
    <title>Reset Password | Rose Collections</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Favicon -->    
    <link rel="shortcut icon" href="img/fav.png">

    <!-- Template -->
    <link rel="stylesheet" href="graindashboard/css/graindashboard.css">
  </head>

  <body class="">

    <main class="main">

      <div class="content">

			<div class="container-fluid pb-5">

				<div class="row justify-content-md-center">
					<div class="card-wrapper col-12 col-md-4 mt-5">
						<div class="brand text-center mb-3">
							<!-- <a href="/"><img src="img/logo.png"></a> -->
						</div>
						<div class="card">
							<div class="card-body">
								<h4 class="card-title">Reset Password</h4>
								<form action="/resetpassword" method="POST" id="otpform">
									<div class="form-group">
										<label for="email">E-Mail Address</label>
										<input id="email" type="email" class="form-control" name="email" required="" autofocus="" 
                                        placeholder="Enter email">
									</div>

									<div class="form-group">
										<label for="password">Password</label>
										<input id="password" type="password" class="form-control" name="password" required=""
                                        placeholder="Enter password">
									</div>
									
									<div class="form-group">
										<label for="password-confirm">Confirm password</label>
										<input id="password-confirm" type="password" class="form-control" name="password_confirmation" 
                                        required="" placeholder="Confirm password">
									</div>

                                    <div class="form-group no-margin" id="sendOtp">
										<!-- <a href="/index.html" class="btn btn-primary btn-block">
											Send OTP
										</a> -->
                                        <button type="button" class="btn btn-primary btn-block"> Send OTP</button>
									</div>
                                   
                                    <span id="otpmessage" name="otpmessage" style="color: red ;
                                    text-align :center; height:100vh" ></span>

									<br>

                                    <div class="form-group"> 
										<label for="otp">Enter the 	OTP
										</label>
										<input id="typeOtpX" type="text" class="form-control" name="otp" required="" placeholder="Enter OTP">
                                        <span id="otpError" style="color: red;" ></span>
									</div>


									<div class="form-group no-margin">
										<!-- <a href="" class="btn btn-primary btn-block">
											Reset Password
										</a> -->
										<button type="submit" value="submit" class="genric-btn default">Reset Password</button>
									</div>
									<div class="error-message" style="color: red;">
										<%= message.text %>
									</div>
                                   
								</form>
								<a> Go Back to Our </a>  <a href="/"> Home Page</a>
							</div>
						</div>
						<footer class="footer mt-3">
							<div class="container-fluid">
								<div class="footer-content text-center small">
									<span class="text-muted">&copy; 2023 Rose Collections. All Rights Reserved.</span>
								</div>
							</div>
						</footer>
					</div>
				</div>



			</div>

      </div>
    </main>


	<script src="graindashboard/js/graindashboard.js"></script>
    <script src="graindashboard/js/graindashboard.vendor.js"></script>
    <script src="javascripts/signupOtpValidation.js"></script>
    
  </body>
</html>

